<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style1.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<html>
<title>EECS549 Final Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">


<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">Final Project</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-center" style="font-weight:bold;">Resume Searching Engine</p>
  </header>

  <!-- Image header -->
  <div class="w3-display-container w3-container">
      <p><a href="/hello" class="w3-button w3-black w3-padding-large w3-large">Back to Search</a></p>
  </div>




  <!-- Search section -->
  <!-- <p>{{bm25}}</p> -->
  {% for idx in bm25 %}
    <div class="w3-container w3-padding-32" style="background-color: #F0FFFF">
      <!-- <p>{{idx}}</p> -->
      <h1>{{resumes_dict[idx]["firstName"]}} {{resumes_dict[idx]["lastName"]}}</h1>
        <h2>Education</h2>
          {% for entry in resumes_dict[idx]["educations"] %}
            <p><b>{{entry["school"]}}</b>, {{entry["location"]}}</p>
            <p>{{entry["field"]}}</p>
            <br>
          {% endfor %}
        <h2>Work Experience</h2>
          {% for entry in resumes_dict[idx]["workExperiences"] %}
            <p><b>{{entry["company"]}}</b> {{entry["title"]}}</p>
            <br>
          {% endfor %}
        <h2>Skills</h2>
          {% for entry in resumes_dict[idx]["skillsList"] %}
            {{entry["text"]}}
            <br>
          {% endfor %}
        <h2>Summary</h2>
          <p>{{resumes_dict[idx]["summary"]}}</p>
    </div>
    <hr>
  {% endfor %}

  <footer>
    <div class="w3-black w3-center w3-padding-24">
      <p>For EECS549-Information Retrieval Final Project</p>
      <p>Copyright &copy; Fall 2018 Kejia Yang, Yiting Shen, Yingchen Wang</p>
    </div>
  </footer>

</div>




<script>
  // Accordion 
  function myAccFunc() {
      var x = document.getElementById("demoAcc");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }


  // Script to open and close sidebar
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }
   
  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }
  </script>

</body>
</html>
